<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>694900479424-ff6tkcfrfstf98fgq6afblknn5a4kgbd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694900479424-ff6tkcfrfstf98fgq6afblknn5a4kgbd</string>
	<key>API_KEY</key>
	<string>AIzaSyBNh7qStfB2x9ihuBdMMzqDCDSB154C3v4</string>
	<key>GCM_SENDER_ID</key>
	<string>694900479424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alphacommerce.app</string>
	<key>PROJECT_ID</key>
	<string>alpha-e-commerce-1741e</string>
	<key>STORAGE_BUCKET</key>
	<string>alpha-e-commerce-1741e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694900479424:ios:594c70764a00f2f5132425</string>
</dict>
</plist>